@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* ,
*::before,
*::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,a,button {
  font-family: "Montserrat",sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#002060;
  text-decoration: none;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color:#45B8AC;
}

.logo:hover {
  cursor: pointer;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0 20px;
}
.nav_links ul a {
  transition: all 0.3s ease 0s;
}

button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #ffc002;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#00b4d8 ;
}

.question h1 {
  border-bottom: 1px solid black;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #34495e;
  color: #fff;
}
#frequent {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 14px;
  }
}